.swiper {
  width: 100%;
}

.swiper-slide {
  height: 100%;
  max-width: 1200px;
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
