main section {
  display: flex;
  height: 80vh;
}
.section-one {
  margin-top: 55px;
  background-color: rgb(219, 219, 219);
}

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
}
.grid-title {
  background-color: blueviolet;
  font-size: 20px;
}
.grid-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  background-color: aqua;
  flex: 1;
  width: 100%;
  max-width: 1200px;
}
.grid-container {
  border: 1px solid white;
}

.section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upper-art,
.lower-art {
  display: flex;
  border: 1px solid red;
  flex: 1;
  width: 100%;
  max-width: 1200px;
}
.title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  flex: 0.6;
}
.img-box {
  flex: 1;
}

.section-four {
  background-color: rgb(177, 177, 177);
}

footer {
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: beige;
}

@media (max-width: 750px) {
  .grid-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
