.section-one {
  margin-top: 56px;
  background-color: rgba(41, 41, 41, 0.637);
  border: none;
}

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 4%;
  z-index: 2;
  margin-top: -5px;
  overflow-y: scroll;
}
.grid-container-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 3% 4%;
}
.grid-title {
  text-align: center;
}
.grid-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  flex: 1;
  width: 100%;
  max-width: 1200px;
}
.grid-container {
  padding-bottom: 20px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.grid-img {
  border: none;
  width: 100%;
}
.grid-name {
  padding: 0;
  font-weight: 400;
  color: rgb(71, 69, 69);
}
.grid-price {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(88, 88, 88);
}
.section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 4%;
}
.upper-art,
.lower-art {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 1200px;
}
.title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  flex: 1;
}
.img-box {
  flex: 2;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.section-four {
  background-color: rgb(177, 177, 177);
}

footer {
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: beige;
}

@media (max-width: 950px) {
  .grid-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .grid-items {
    grid-template-columns: 1fr 1fr;
  }
  .section-three {
    padding: 0;
  }
}
